<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
<div class="space-header"></div>
<div style="padding: 50px">
<%= form_for @c4,url: changedefaults_path ,method: 'post' do |f| %>

  <div class="form-group">
    <label for="exampleInputPassword1">Session Time Duration</label>
<%=f.text_field :typeplan,class:'form-control',type:"text"%><br>
  </div>

  <%=f.submit "Change Defaults", class: 'btn btn-info'%>
<%end%>

<section class="pricing py-5">
  <h5 style="text-align: center;font-size: 35px">Consultation Pricing</h5><br>
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">

<%= form_for @c1,url: updatec1_path ,method: 'post' do |f| %>
            
            <h5 class="card-title text-muted text-uppercase text-center"> <%= f.text_field :typeplan %></h5>
            <h6 class="card-price text-center"> <%= f.text_field :price , class:"pricewidth"%><span class="period">for  <%= f.text_field :numsession , class:"sessionwidth",id:"sessionfield"%> session</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line1 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line2 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line3 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line4 %></li>
            
            </ul>
         
             <%= f.submit class:"btn btn-block btn-primary text-uppercase" %>
          <%end%>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
           <%= form_for @c2,url: updatec2_path ,method: 'post' do |f| %>
            
            <h5 class="card-title text-muted text-uppercase text-center"> <%= f.text_field :typeplan %></h5>
            <h6 class="card-price text-center"> <%= f.text_field :price , class:"pricewidth"%><span class="period">for  <%= f.text_field :numsession , class:"sessionwidth"%> session</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line1 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line2 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line3 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line4 %></li>
            
            </ul>
         
             <%= f.submit class:"btn btn-block btn-primary text-uppercase" %>
          <%end%>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
          <%= form_for @c3,url: updatec3_path ,method: 'post' do |f| %>
            
            <h5 class="card-title text-muted text-uppercase text-center"> <%= f.text_field :typeplan %></h5>
            <h6 class="card-price text-center"> <%= f.text_field :price , class:"pricewidth"%><span class="period">for  <%= f.text_field :numsession , class:"sessionwidth"%> session</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line1 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line2 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line3 %></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span> <%= f.text_field :line4 %></li>
            
            </ul>
         
             <%= f.submit class:"btn btn-block btn-primary text-uppercase" %>
          <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%=form_tag createslots_path ,method: 'post' do %>
<label for="exampleInputEmail2">Create a new slot for <%=session[:admin_username]%></label>
 <div class="form-group">
                <div class='input-group date'>
               <%=text_field_tag :slotime,"",class:'form-control',id:'datetimepicker',type:"text"%>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
  <%=submit_tag "Create Slot", class: 'btn btn-info'%>
<%end%>
<table id="myTable" class="table table-striped table-bordered">
  
   <thead>
        <tr>
           
            <th>Admin Id</th>
            <th>Slot Time</th>
            <th>User Id</th>
            <th>User Name</th>
       
        </tr>
    </thead>
    <tbody>
      <%@adminslot.each do |f|%>
      <tr>
        
            <td><%=f.admin_id%></td>
            <td><a href="<%=adminslotview_path(f.id)%>"><%=f.slot.to_s[0...f.slot.to_s.length-3]%></a></td>
            <td><%=f.booked%></td>
            <td><%=f.user_id%></td>
          
        </tr>
        <%end%>
    </tbody>
</table>
</div>
 <script type="text/javascript">
  $(document).ready(function(){
         jQuery('#datetimepicker').datetimepicker({
           minDate:'0'
         });
    $('#myTable').DataTable();
$('#datetimepicker').attr('autocomplete','off');
         });
        </script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>