

<section class="home-banner-area relative" style="background:url('<%=asset_path("frontbg.jpg")%>') no-repeat top center;background-size: cover">
<div class="container">
<div class="row fullscreen d-flex align-items-center justify-content-center" style="height: 632px;">
<div class="banner-content col-lg-8 col-md-12">
<h1 class="wow fadeIn animated" data-wow-duration="4s">We Rank the Best Colleges <br> in India</h1>
<p class="text-white">
In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space
telescope.
</p>
<div class="input-wrap">
<form id="search-form" class="form-box d-flex justify-content-between">
<input type="text" placeholder="Search Colleges" class="form-control" name="search-input">
<button type="submit" class="btn search-btn">Search</button>
</form>
<script type="text/javascript">
	$('#search-form').submit(function(event){
		event.preventDefault();
		let a=$("input[name='search-input']").val();
		window.location="http://collegeadvisors.in/searchall/"+a
	})
</script>
</div>
<h4 class="text-white">Top Streams</h4>
<div class="courses pt-20">
	<a href="#" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown animated" >Engineering</a>
<a href="#" data-wow-duration="1s" data-wow-delay=".6s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown comc">Commerce</a>
<a href="#" data-wow-duration="1s" data-wow-delay=".9s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown sciencec">Science</a>
<a href="#" data-wow-duration="1s" data-wow-delay="1.2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown humanc">Humanities</a>
<a href="#" data-wow-duration="1s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown medicalc">Medical</a>
<a href="#" data-wow-duration="1s" data-wow-delay="1.8s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown artsc">Arts</a>
<a href="#" data-wow-duration="1s" data-wow-delay="2.1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown lawc">Law</a>

</div>
</div>
</div>
</div>
<div class="rocket-img">
<img src="https://colorlib.com/preview/theme/educature/img/rocket.png" alt="">
</div>
</section>


<section class="about-area section-gap">
<div class="container">
<div class="row align-items-center justify-content-center">
<div class="col-lg-5 col-md-6 about-left">
<img class="img-fluid" src="<%=asset_path('p1.jpg')%>" alt="">
</div>
<div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right" id="about">
<h1>
Know About Us
</h1>
<div class="wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
<p>
CollegeAdvisors is the next-gen platform for all Young Indians to get detailed information on the various colleges in India. We are the First choice for many students and parents to get answers on undergraduate studies and post graduation. Our Team consists of educationists, child psychologists who understand the students, their interests and aspirations and provide top notch counselling services. 
</p>
</div>
<a href="/home/about" class="primary-btn">Explore</a>
</div>
</div>
</div>
</section>


<section class="courses-area section-gap" id="categories">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5 about-right">
<h1>
Explore Colleges in <br> India Now
</h1>
<div class="wow fadeIn" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
<p>
We have listed more than 25000+ colleges along with 1.5L+ courses catering to various streams. Join us on a journey to discover your next career choice. 
</p>
</div>

</div>
<div class="offset-lg-1 col-lg-6">
<div class="courses-right">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12">
<ul class="courses-list">
<li>
<a class="wow fadeInLeft engc" data-wow-duration="1s" data-wow-delay=".1s">
<i class="fa fa-book"></i> Engineering
</a>
</li>
<li>
<a class="wow fadeInLeft medicalc" data-wow-duration="1s" data-wow-delay=".3s">
<i class="fa fa-book"></i> Medical
</a>
</li>
<li>
<a class="wow fadeInLeft comc" data-wow-duration="1s" data-wow-delay=".5s">
<i class="fa fa-book"></i> Commerce
</a>
</li>
<li>
<a class="wow fadeInLeft humanc" data-wow-duration="1s" data-wow-delay=".7s">
<i class="fa fa-book"></i> Humanities
</a>
</li>
<li>
<a class="wow fadeInLeft sciencec" data-wow-duration="1s" data-wow-delay=".9s">
<i class="fa fa-book"></i> Science
</a>
</li>
<li>
<a class="wow fadeInLeft designc" data-wow-duration="1s" data-wow-delay="1.1s">
<i class="fa fa-book"></i> Design
</a>
</li>
<li>
<a class="wow fadeInLeft animac" data-wow-duration="1s" data-wow-delay="1.3s">
<i class="fa fa-book"></i> Animation
</a>
</li>
</ul>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<ul class="courses-list">
<li>
<a class="wow fadeInRight arcc" data-wow-duration="1s" data-wow-delay="1.3s">
<i class="fa fa-book"></i> Architecture
</a>
</li>
<li>
<a class="wow fadeInRight lawc" data-wow-duration="1s" data-wow-delay="1.1s">
<i class="fa fa-book"></i> Law
</a>
</li>
<li>
<a class="wow fadeInRight massc" data-wow-duration="1s" data-wow-delay=".9s">
<i class="fa fa-book"></i> Mass Communication
</a>
</li>
<li>
<a class="wow fadeInRight hospc" data-wow-duration="1s" data-wow-delay=".7s">
<i class="fa fa-book"></i> Hospitality
</a>
</li>

<li>
<a class="wow fadeInRight artsc" data-wow-duration="1s" data-wow-delay=".5s">
<i class="fa fa-book"></i> Arts
</a>
</li>
</ul>

</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="feature-area"c id="features">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="section-title text-center">
<h1>Features That Make Us Hero</h1>
<!-- <p>
If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for
as low as $.17 each.
</p> -->
</div>
</div>
</div>
<div class="feature-inner row">
<div class="col-lg-4 col-md-6">
<div class="feature-item">
<i class="ti-user"></i>
<h4>1:1 Consulting Session </h4>
<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
<p>
 Our Expert Academic Advisors will guide you with the right information
</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="feature-item">
<i class="ti-money"></i>
<h4>Financial Advice</h4>
<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
<p>
 We offer  right kind of financial advice for parents to make their financial planning and investments
</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="feature-item">
<i class="ti-world"></i>
<h4>Free Resources</h4>
<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
<p>
We provide you with mock assessment papers pertaining to the stream you belong to
</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="feature-item">
<i class="ti-desktop"></i>
<h4>Informative Webinars</h4>
<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
<p>
 We will provide you with guest speaker sessions who will talk about their journeys into different institutions
</p>
</div>
</div>
</div>
<!-- <div class="col-lg-4 col-md-6">
<div class="feature-item">
<i class="ti-files"></i>
<h4>Source File Included</h4>
<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
<p>
Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore.
</p>
</div>
</div>
</div>
 --><div class="col-lg-4 col-md-6">
<div class="feature-item">
<i class="ti-headphone-alt"></i>
<h4>Live Support</h4>
<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
<p>
We offer live support for any and every query that you possess 
</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="pricing py-5">
	<h5 style="text-align: center;font-size: 35px">Consultation Pricing</h5><br>
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center"><%=@c1.typeplan%></h5>
            <h6 class="card-price text-center">₹<%=@c1.price%><span class="period">for <%=@c1.numsession%> session</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c1.line1%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c1.line2%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c1.line3%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c1.line4%></li>
          
            </ul>
            <a href="/home/bookslot" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
           <h5 class="card-title text-muted text-uppercase text-center"><%=@c1.typeplan%></h5>
            <h6 class="card-price text-center">₹<%=@c2.price%><span class="period">for <%=@c2.numsession%> session</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c2.line1%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c2.line2%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c2.line3%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c2.line4%></li>
          
            </ul>
            <a href="/home/bookslot" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
           <h5 class="card-title text-muted text-uppercase text-center"><%=@c3.typeplan%></h5>
            <h6 class="card-price text-center">₹<%=@c3.price%><span class="period">for <%=@c3.numsession%> session</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c3.line1%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c3.line2%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c3.line3%></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=@c3.line4%></li>
          
            </ul>
            <a href="/home/bookslot" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faculty-area section-gap" id="testimonials">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="section-title text-center">
<h1>Testimonials</h1>
<!-- <p>
If you are looking at blank cassettes on the web, you may be very confused at the difference in price. 
</p> -->
</div>
</div>
</div>
<div class="row justify-content-center d-flex align-items-center">
<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
<div class="thumb d-flex justify-content-center">

</div>
<div class="meta-text text-center">
<h4>Shashank Kamath</h4>
<p class="designation"> P.E.S.I.T (B.Tech),  CET Rank-: 194 (2014)</p>
<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
<p>
I am glad that I was able to get the expert advice from CollegeAdvisors well before the CET was there. They really helped me set my goals for the universities.</p>
</div>

</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
<div class="thumb d-flex justify-content-center">

</div>
<div class="meta-text text-center">
<h4>Mutturaj Vannan</h4>
<p class="designation">R.V. College of Engineering (B.Tech), CET Rank-: 438 (2018)</p>
<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
<p>
My Advisor gave me the right information on cut-offs of previous years and also helped my parents to plan their financials properly </p>
</div>

</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
<div class="thumb d-flex justify-content-center">
</div>
<div class="meta-text text-center">
<h4> Deeksha B </h4>
<p class="designation"> B.M.S College of Engineering (B.E), CET Rank : 1043 (2018)</p>
<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
<p>
I had all my doubts clarified with respect to different courses. The consulting session helped me a lot to understand my weaknesses and strengths </p>
</div>

</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
<div class="thumb d-flex justify-content-center">

</div>
<div class="meta-text text-center">
<h4>Akshayraj C </h4>
<p class="designation">M.S Ramaiah Institute of Technology (B.E) , CET Rank : 2091 (2019)</p>
<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.7s; animation-name: fadeIn;">
<p>
CollegeAdvisors is a wonderful place to get expert advice. My parents were also completely satisfied with the kind of advice I got. I found the right university with all the facilities and top-notch faculties</p>
</div>

</div>
</div>
</div>
</div>
</section>

<footer class="footer-area section-gap">
<div class="container">
<div class="footer-bottom row align-items-center">
<p class="footer-text m-0 col-lg-8 col-md-12">
Copyright© 2020 All rights reserved | CollegeAdvisors <i class="fa fa-heart-o" aria-hidden="true"></i> 
</p>
<div class="col-lg-4 col-md-12 footer-social">

</div>
</div>
</div>
</footer>
<script type="text/javascript">
  $(document).ready(function(){
  let search=window.location.search;
  if(window.location.search.substring(6,search.length)==="invaliduser"){
        new Noty({
    type: 'error',
    layout: 'topRight',
    text: 'Please Login to access this feature',
      timeout: 1500
}).show();   }});
</script>