<div class="space-header"></div>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        
                      
                    </div>
                    <div class="col-md-9 register-right">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Update your details</h3>
                                <%= form_for @user,url: updatechangesinuser_path ,method: 'post' do |f| %>
                                <div class="row register-form">
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        
                                            <%=f.text_field :name,class:'form-control',type:"text", placeholder:"Name *"%>
                                        </div>
                                        <div class="form-group">
                                        
                                            <%=f.text_field :interest,class:'form-control',type:"text",placeholder: "Your college/school *"%>
                                        </div>
                                        <div class="form-group">
                                           <%=f.password_field :password,class:'form-control',type:"password",placeholder:"Password"%>
                                        </div>
                                        <div class="form-group">
                                             <%=f.text_field :mothername,class:'form-control',type:"text",placeholder: "Mother's Name"%>
                                        </div>
                                         <div class="form-group">
                                              <%=f.text_field :mothercontact,class:'form-control',type:"text",placeholder: "Mother's number"%>
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <%=f.radio_button :gender,"male"%>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                   <%=f.radio_button :gender,"female"%>
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            
                                            <%=f.text_field :email,class:'form-control',readonly: true,type:"email",placeholder: "Your Email *"%>
                                        </div>
                                        <div class="form-group">
                                            <%=f.text_field :number,class:'form-control',type:"text",placeholder: "Your Number *"%>
                                        </div>
                                        <div class="form-group">
                         <%= select :user,:background, options_for_select([["Engineering","engineering"], ["Arts","arts"], ["Science","science"],["Commerce","commerce"],["Law","law"],["Animation","animation"],["Design","design"],["Mass Communication","mass communication"],["Medical","medical"],["Architecture","architecture"],["Hospitality","hospitality"]]), {class:"form-control"}%>
                         <p>Current Stream: <%=@user.background%></p>
                                        </div>
                                        <div class="form-group">
                                            <%=f.text_field :fathername,class:'form-control',type:"text",placeholder: "Your Father's Name"%>
                                        </div>
                                         <div class="form-group">
                                           <%=f.text_field :fathercontact,class:'form-control',type:"text",placeholder: "Your Father's number"%>
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Update"/>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
<footer class="footer-area section-gap">
<div class="container">
<div class="footer-bottom row align-items-center">
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important">Please write to us for any query at infocollegeadvisors@gmail.com</p><br>
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important"><a href="/home/tnc">Terms And Conditions</a></p>
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important"><a href="/home/privacy">Privacy Policy</a></p>
<p class="footer-text m-0 col-lg-8 col-md-12">
Copyright© 2020 All rights reserved | CollegeAdvisors <i class="fa fa-heart-o" aria-hidden="true"></i> 
</p>
<div class="col-lg-4 col-md-12 footer-social">

</div>
</div>
</div>
</footer>
         